{% extends "base_text.html" %}

{% block title %}Password reset{% endblock %}

{% block pagetitle %}Password reset{% endblock %}

{% block content %}
<p>Если вы забыли пароль, введите логин или E-Mail.</p>
<p>
Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail. 
</p>

<form action="" method="post">{% csrf_token %}
 {{ form.email.errors }}
	<table>	
	<tr>
		<td>
			<label for="id_email">Адрес e-mail:</label> 
			{{ form.email }} 
			<input type="submit" value="Востановить мой пароль." />
		</td>
	</tr>
	</table>
</form>
{% endblock %}
