{% extends "student/base.html" %}
{% block content %}
	<div>
       <ul>
         <li><a class="quiet" href="{% url school_reg %}">Register the school</a></li>
         <li><a class="quiet" href="{% url teachers_reg %}">Register the teachers</a></li>
         <li><a class="quiet" href="{% url students_reg %}">Register the students</a></li>
         <li><a class="quiet" href="{% url parents_reg %}">Register the parents</a></li>          
       </ul>
	</div>
    <div>
       <ul>
         <li><a class="quiet" href="{% url schools_list %}">List of all schools</a></li>
         <li><a class="quiet" href="{% url teachers_list %}">List of all teachers</a></li>
         <li><a class="quiet" href="{% url students_list %}">List of all students</a></li>
         <li><a class="quiet" href="{% url parents_list %}">List of all parents</a></li>          
       </ul>
	</div>
	<div>
       <ul>
         <li><a class="quiet" href="{% url school_info %}">Show information about school</a></li>
         <li><a class="quiet" href="{% url teachers_info %}">Show information about teachers</a></li>
         <li><a class="quiet" href="{% url students_info %}">Show information about students</a></li>
         <li><a class="quiet" href="{% url parents_info %}">Show information about parents</a></li>          
       </ul>
	</div>
	<div>
       <ul>
         <li><a class="quiet" href="{% url school_del %}">Delete school</a></li>
         <li><a class="quiet" href="{% url teacher_del %}">Delete teacher</a></li>
         <li><a class="quiet" href="{% url student_del %}">Delete student</a></li>
         <li><a class="quiet" href="{% url parents_del %}">Delete parents</a></li>          
       </ul>
	</div>  
      
{% endblock %}
