{% extends "student/base.html" %}
{% block content %}
	<a href="{% url org %}">Back</a></br>
	{% if teacher %}		
	<table style="width: 200px;">
		<thead>
			<td>username</td>
			<td>password</td>
			<td>city</td>
			<td>school</td>			
		</thead>	
		{% for i in teacher %}															
			<tr class="{% cycle 'any' 'BlueTR' %}">				
				<td>{{ i.username }}</td>
				<td>{{ i.pwd }}</td>
				</td>			
				<td>		
					<a href="{% url teacher_del i.id %}">Delete</a>
				</td>	
				<td>		
					<a href="{% url teacher_info i.id %}">Info</a>
				</td>		
				<td>		
					<a href="{% url teachers_info i.id %}">Info</a>
				</td>										
			</tr>														
		{% endfor %}
	</table>	
	{% else %}									
		<h1>No Registared Teachers</h1>
	{% endif %}
	{% if temp %}		
	<h1>List of teachers that are not registered yet</h1>
	<table style="width: 200px;">
		<thead>
			<td>username</td>
			<td>password</td>
			<td>city</td>
			<td>school</td>			
		</thead>			
		{% for i in temp %}															
			<tr class="{% cycle 'any' 'BlueTR' %}">				
				<td>{{ i.username }}</td>
				<td>{{ i.pwd }}</td>
				<td>{{ i.city }}</td>
				<td>{{ i.school }}</td>
				</td>			
				<td>		
					<a href="{% url teacher_temp_del i.id %}">Delete</a>
				</td>
			</tr>														
		{% endfor %}
	</table>	
	{% else %}									
		<p>No Teacher</p>
	{% endif %}
	 <a href="{% url teachers_temp_reg %}">Add teacher</a>
{% endblock %}
