article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}
.left {
	float:left;
}
.right {
	float:right;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
body {
	background:#f2f2f2;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#363636;
	line-height:20px;
}
.inner_copy, .inner_copy a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0;
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	behavior:url(../js/PIE.htc);
	position:relative;
}
.main {
	margin:0 auto;
	width:940px;
}
.body1 {
	background:url(../images/bg2_top.gif) top repeat-x #fff;
}
.body2 {
	background:url(../images/bg2_top_img.jpg) top center no-repeat;
}
.body3 {
	background:url(../images/bg_top2.gif) top center repeat-x;
}
a {
	color:#008cdd;
	text-decoration:underline;
	outline:none;
}
a:hover {
	text-decoration:none;
}
h1 {
	float:left;
	padding:21px 0 0 217px;
	position:absolute;
}
h2 {
	font-size:40px;
	line-height:1.2em;
	color:#182125;
	padding:35px 0 16px 0;
	font-weight:normal;
	letter-spacing:-1px;
}
h2 span {
	font-size:20px;
	line-height:1.2em;
	color:#008cdd;
	display:block;
	margin-top:-2px;
	letter-spacing:0;
}
h3 {
	font-size:30px;
	color:#182125;
	line-height:1.2em;
	padding:20px 0 18px 0;
	font-weight:normal;
}
h4 {
	border:1px solid #cccccc;
	font-size:19px;
	font-weight:normal;
	color:#182125;
	line-height:40px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(../js/PIE.htc);
	position:relative;
	margin-bottom:20px;
}
h4 span {
	border:1px solid #fff;
	display:block;
	background:url(../images/bg_box1.gif) top repeat-x #eee;
	padding:0 17px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(../js/PIE.htc);
	position:relative;
}
h4 span.right {
	background:none;
	border:0;
}
p {
	padding-bottom:20px;
}
header {
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
}
#logo {
	display:block;
	background:url(../images/logo.jpg) no-repeat;
	width:227px;
	height:36px;
	text-indent:-5000px;
}
#search {
	float:right;
	padding:28px 50px 0 0;
}
#search .submit {
	float:right;
	background:url(../images/search_button.gif) no-repeat;
	width:29px;
	height:29px;
	cursor:pointer;
}
#search .input {
	float:right;
	margin-right:7px;
	background:url(../images/search_input.gif) no-repeat;
	width:177px;
	font:14px Arial, Helvetica, sans-serif;
	color:#363636;
	height:17px;
	padding:6px;
}
#menu {
	float:right;
	padding:22px 27px 0 0;
}
#menu li {
	float:left;
	padding-left:1px;
}
#menu li a {
	display:block;
	font-size:18px;
	color:#fff;
	line-height:50px;
	padding:0 22px;
	text-decoration:none;
	font-weight:normal;
}
#menu li a:hover {
	color:#008cdd;
}
#content {
	width:100%;
	overflow:hidden;
	padding-bottom:35px;
}
#content2 {
	width:100%;
	overflow:hidden;
	padding-bottom:35px;
}
.pad_bot1 {
	padding-bottom:10px;
}
.pad_bot2 {
	padding-bottom:25px;
}
.pad_bot3 {
	padding-bottom:5px;
}
.marg_right1 {
	margin-right:24px;
}
.pad {
	padding:0 19px;
}
.pad_left1 {
	padding-left:58px;
}
.list1 {
}
.list1 a {
	color:#363636;
	padding-left:13px;
	background:url(../images/marker_1.gif) 0 5px no-repeat;
}
.list2 li {
	padding-bottom:10px;
}
.list2 li a {
	color:#363636;
	padding-left:26px;
	background:url(../images/marker_2.gif) 2px 1px no-repeat;
}
.button {
	display:inline-block;
	text-decoration:none;
	font-size:19px;
	color:#182125;
	border:1px solid #c6cacc;
	line-height:40px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(../js/PIE.htc);
	position:relative;
}
.button span {
	background:url(../images/button1_bg.gif) top repeat-x #eee;
	border:1px solid #fff;
	padding:0 20px;
	display:block;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(../js/PIE.htc);
	position:relative;
}
.button:hover {
	color:#fff;
}
.button:hover span {
	background:#b2e1ff;
}
.color1 {
	color:#008cdd;
}
#ContactForm {
	margin-top:-4px;
	line-height:28px;
}
#ContactForm .button {
	font-size:19px;
	color:#fff;
	border:0;
	line-height:29px;
	width:81px;
	text-align:center;
	background:url(../images/button2_bg.gif) top repeat-x #000;
}
#ContactForm .button:hover {
	background:#008cdd;
}
#ContactForm .textarea_box {
	min-height:232px;
	width:100%;
	overflow:hidden;
}
#ContactForm .wrapper {
	min-height:35px;
}
#ContactForm span {
	width:82px;
	float:left;
	font-weight:bold;
}
#ContactForm a {
	margin-left:10px;
	float:right;
}
#ContactForm .input {
	float:left;
	background:url(../images/input.gif) no-repeat;
	width:311px;
	height:17px;
	padding:6px;
	color:#182125;
	font:14px Arial, Helvetica, sans-serif;
}
#ContactForm textarea {
	overflow:auto;
	float:left;
	background:url(../images/textarea.gif) no-repeat;
	width:416px;
	height:202px;
	padding:6px;
	color:#182125;
	font:14px Arial, Helvetica, sans-serif;
	margin:0;
}
footer {
	text-align:center;
}
footer .pad {
	padding:0 28px 20px 28px;
}
footer .pad p {
	margin:0;
	padding:0;
	line-height:normal;
	font-size:12px;
}
footer .pad p, footer .pad p a {
	color:#363636;
	text-decoration:none;
}
footer .lf {
	float:left;
}
footer .rf {
	float:right;
}
footer nav {
	background:url(../images/bg_box2.jpg) top center no-repeat;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow:1px 1px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow:1px 1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, .5);
	behavior:url(../js/PIE.htc);
	position:relative;
	width:100%;
	overflow:hidden;
	margin-bottom:25px;
}
#footer_menu {
	padding:0 43px;
}
#footer_menu li {
	float:left;
	padding-right:1px;
}
#footer_menu li a {
	font-size:18px;
	color:#fff;
	text-decoration:none;
	line-height:50px;
	padding:0 52px;
}
#footer_menu li a:hover {
	color:#008cdd;
}
