<!DOCTYPE html>
<html lang="en">
<head>
<title>Sciencelab</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../../static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../../static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../../static/css/style.css" type="text/css" media="all">
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="body1">
  <div class="body2">
    <div class="main">
      <header>
        <div class="wrapper">
          <h1><a href="index.html" id="logo">Sciencelab</a></h1>
          <form id="search" method="post" action="#">
            <div>
              <input type="submit" class="submit" value="">
              <input type="text" class="input">
            </div>
          </form>
        </div>
        <div class="wrapper">
          <nav>
            <ul id="menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="research.html">Research</a></li>
              <li><a href="press.html">Press</a></li>
              <li><a href="contacts.html">Contacts</a></li>
            </ul>
          </nav>
        </div>
        <div class="wrapper">
          <div class="col">
            
            {% block main_content %}            
            {% endblock %}
            
            {% block content %}            
            {% endblock %}
            
            <h2>Lab Technology <span>Professional Research</span></h2>
            <p class="pad_bot1"><strong>Sed ut perspiciatis unde omnis</strong> iste naterror voluptatem accusantium doareue laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore:</p>
            <ul class="list1 pad_bot2">
              <li><a href="#">Veritatis et quasi architecto beatae vitae dicta</a></li>
              <li><a href="#">Nemo enim ipsam voluptatem quia voluptas sit aspernatur</a></li>
              <li><a href="#">Sed quia consequuntur magni dolores eos ratione</a></li>
            </ul>
            <a href="#" class="button"><span>Read More</span></a> </div>
        </div>
      </header>
      <section id="content">
        <article class="col1">
          <h3>Latest News</h3>
          <div class="wrapper">
            <figure class="left marg_right1"><a href="#"><img src="images/page1_img1.jpg" alt=""></a></figure>
            <p> <strong>Atvero eos acusmus</strong><br>
              et iusto odio dignissimos ducimus qui blanditiis praentium. &nbsp; <a href="#">More</a> </p>
          </div>
          <div class="wrapper">
            <figure class="left marg_right1"><a href="#"><img src="images/page1_img2.jpg" alt=""></a></figure>
            <p> <strong>Voluptatum deleniti</strong> Atque corrupti dolores et quas molestias exceptur sint occaecati. &nbsp; <a href="#">More</a> </p>
          </div>
          <div class="wrapper">
            <figure class="left marg_right1"><a href="#"><img src="images/page1_img3.jpg" alt=""></a></figure>
            <p> <strong>Cupiditate provident</strong> Similique sunt in culpa qui officia deserunt mollitia animi. &nbsp; <a href="#">More</a> </p>
          </div>
        </article>
        <article class="col2">
          <h3>Welcome to Science Lab!</h3>
          <p class="pad_bot2"> ScienceLab is one of free website templates created by TemplateMonster.com team. This website template is optimized for 1024X768 screen resolution. It is also XHTML & CSS valid. </p>
          <div class="wrapper pad_bot1">
            <figure class="left marg_right1"><img src="images/page1_img4.jpg" alt=""></figure>
            <p class="pad_bot2"> This Free Science Website Template goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of Templates. com. The basic package (without PSD source is available for anyone without registration). </p>
          </div>
          <p> This website template has several pages: <a href="index.html">Home</a>, <a href="services.html">Services</a>, <a href="research.html">Research</a>, <a href="press.html">Press</a>, <a href="contacts.html">Contacts</a> (note that contact us form – doesn’t work). </p>
        </article>
      </section>
    </div>
  </div>
</div>
<div class="body3">
  <div class="main">
    <section id="content2">
      <article class="col3">
        <h4><span><span class="right"></span>Lab Equipment</span></h4>
        <div class="wrapper">
          <div class="pad">
            <p class="pad_bot3"> <strong>Vero eoset accusamus eot iusto odio dignissimos</strong> </p>
            <p class="pad_bot3"> Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores erum facilis est et expedita distinc et quas molestias excepturi occaecati cupiditate corrupti quos. </p>
            <p> Non provident, similique sunt infgo culpa qui officia deserunt mollitia animid laborum et dolorum fuga. Et harum quidem. </p>
          </div>
        </div>
      </article>
      <article class="col4">
        <h4><span><span class="right"></span>Our Researches</span></h4>
        <div class="wrapper">
          <div class="pad">
            <ul class="list2">
              <li><a href="#">Blanditiis praesentium</a></li>
              <li><a href="#">Voluptatum deleniti atqoue</a></li>
              <li><a href="#">Corrupti qufgos dolores et quas</a></li>
              <li><a href="#">Molestias excepturi sint</a></li>
              <li><a href="#">Occaecati cupiditate</a></li>
              <li><a href="#">Non provident, similique suont</a></li>
              <li><a href="#">Culpa qui officia deserunt</a></li>
              <li><a href="#">Mollitia animid laborum</a></li>
            </ul>
          </div>
        </div>
      </article>
      <article class="col4">
        <h4><span><span class="right"></span>Integrated Science</span></h4>
        <div class="wrapper">
          <div class="pad">
            <p class="pad_bot3"> Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate. </p>
            <p class="pad_bot3"> Non provident, similique sunt in culpa qui officia deserunt mollitia animid laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
            <p> <a href="#">Nam libero tempore, cumoluta nobis est eligendi optio cumque</a> </p>
          </div>
        </div>
      </article>
    </section>
    <footer>
      <nav>
        <ul id="footer_menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="research.html">Research</a></li>
          <li><a href="press.html">Press</a></li>
          <li><a href="contacts.html">Contacts</a></li>
        </ul>
      </nav>
      <div class="pad">
        <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
        <p class="rf"><a href="http://www.free-css.com/">Free CSS Templates</a> by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
        <div style="clear:both;"></div>
      </div>
    </footer>
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>